@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html body{
  width:100%;
  height:auto;
  font-family: "Noto Sans KR", sans-serif !important;

}
.header-navbar{
  font-family: "Noto Sans KR", sans-serif !important;
}
.navigation .nav-item{
  display:none;
}
.menu-content .menu-item{
  display:none;
}
.login-container{
  max-width:500px;
  margin:100px auto 0;
  padding:50px 20px;
}
.btn-login{
  width:100%;
  margin:0 auto;
}
.search_box input{
  max-width:200px;
  display:inline-block;
}
.search_box select{
  max-width:200px;
  display:inline-block;
}
.custom_input{
  padding: 13px 1.5rem 12px;
}
.custom_input2{
  padding: 11px 1.5rem 10px;
  margin-right:5px;
  margin-bottom:5px;
}
.custom_btn{
  padding:12px 1.5rem 13px;
  margin-top:-4px;
}
.custom_btn2{
  padding:10px 1.5rem 10px;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}
.pagination{
  justify-content: center;
}
.wd50{
  width:50%;
}
.tag{
  padding:5px 10px;
  border-radius:5px;
  margin-right:5px;
  margin-bottom:5px;
  display:inline-block;
  cursor:pointer;
}
a .btn{
  padding:.4rem 1rem;
  font-size:.9rem;
}
.stock_ul{
  list-style:none;
  display: flex;
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.stock_ul li{
  width:182px;
  position:relative;
  margin:0 20px 20px 0;
}
.stock_ul li p.stock_name{
  position:absolute;
  top:35px;
  left:7px;
  width:160px;
  padding:0 10px;
  margin:0 auto;
  background-color:#fff;
  border:1px solid #aaa;
  text-align:center;
  border-radius:15px;
  margin-bottom:5px;
}
.stock_ul li p.stock_cnt{
  position:absolute;
  top:65px;
  left:7px;
  width:160px;
  padding:0 10px;
  margin:0 auto;
  background-color:#fff;
  border:1px solid #aaa;
  text-align:center;
  border-radius:15px;
  margin-bottom:5px;
}
.stock_ul li p.stock_area{
  position:absolute;
  top:95px;
  left:7px;
  width:160px;
  padding:0 10px;
  margin:0 auto;
  background-color:#fff;
  border:1px solid #aaa;
  text-align:center;
  border-radius:15px;
  margin-bottom:5px;
}
/* .mt-50{
  margin-top:-50px;
} */
.card-header{
  min-height:60px;
}
.insert_btn{
  height:40px;
}
table{
  font-size:14px;
}
.table th, .table td {
    padding: .5rem 0.5rem;
}
.machine_num{
  width:auto;
  background-color:#666;
  color:#fff;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  position:absolute;
  top:10px;
  left:10px;
}
.machine_active{
  background-color:#63d457;
}
.injection_table tr td{
  position:relative;
}
.machine_product_name{
  position:absolute;
  top:65px;
  left:0;
  backgrond-color:#fff;
  width:100%;
  font-size:12px;
}
.machine_detail_num{
  display:inline-block;
  background-color:#63d457;
  color:#fff;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  margin-right:5px;
  border-radius:50%;
}
.bdb-1px{
  border-bottom:1px solid #ccc;
}
.pd-20px{
  padding-bottom:20px;
}
.process_tag_table p{
  margin:0;
  font-size:12px;
}
.process_tag_table tr td{
  padding:0.3rem 0.3rem;
}
.process_tag_table select.form-control:not([size]):not([multiple]){
  height:2.75rem;
  padding:0.5rem;
}
.process_tag_table input.form-control{
  padding:0.75rem 0.5rem;
}
.print_table{
  box-sizing:border-box;
  margin-top:150px;
  height:281px;
  overflow:hidden;
}
.print_inner_line{
  width:280px;
  margin:10px;
  height:431px;
  border:2px solid #000;
}
.print_box{
  width:302.3622047244px;
  height:453.5433070866px;
  border:1px solid #aaa;
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  background-color:#fff;
}
.print_table tr td, .print_table tr th{
  padding:0 5px;
}
.print_table tr th{
  width:64px;
}
.qrcode{
  position:absolute;
  top:30px;
  left:92px;
}
.input_type1{
  padding:9px 0.5rem;
  border:1px solid #babfc7;
  border-radius:0.25rem;
  min-width:280px;
}
.modal_back{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display:none;
}
.search_modal{
  z-index:1;
  position:fixed;
  top:15%;
  left:50%;
  min-width:400px;
  margin-left:-200px;
  max-height:70%;
  background-color:#fff;
  border:1px solid #fff;
  border-radius:0.25rem;
  padding:20px;
  overflow:hidden;
  display:none;
}
.custom_btn1{
  margin-top:-5px;
}
.search_result_box{
  max-height:500px;
  overflow-y:auto;
}
.time, .mins, .meridian{
  width:48px;
  margin:0;
}
.timepicker_wrap {
  width:170px;
}
.search_result_box tr{
  cursor:pointer;
}
.cbarno_modal{
  z-index:1;
  position:fixed;
  top:15%;
  left:50%;
  max-width:400px;
  margin-left:-200px;
  max-height:70%;
  background-color:#fff;
  border:1px solid #fff;
  border-radius:0.25rem;
  padding:20px;
  overflow:hidden;
  display:none;
}
.process_tag_table input.custon_date{
  padding:9px 0.5rem 8px;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color:#fff;
}
.table-striped tbody tr.inmutable{
  background-color:#f3f3f3;
}
.memo_modal{
  position:fixed;
  top:15%;
  left:50%;
  width:400px;
  height:400px;
  background-color:#fff;
  z-index:1;
  display:none;
}
.memo_area{
  width:360px;
  height:300px;
  margin:20px;
  padding:10px;
  border:1px solid #ccc;
}
.chartdiv{
  height:300px;
}
